.color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 27px;
    height: 30px;
    border-radius: 50% ;
    padding: 0;
    background-color: transparent;
}

.color-picker::-webkit-color-swatch {
    border-radius: 50% ;
    padding: 0;
}